.navbar{
	border-radius:0px;
}

div#logotext{
	font-family : 'Raleway', sans-serif;
	font-size:1.5em;
	color:#000;
}

a.logo{
	text-decoration: none;
}

div#logotext:hover{
	text-decoration:none;
}

span.nathan{
	color : #800000;
}


a#logo{
	font-size:2em;
	color:black;
}

a#logo:hover{
	text-decoration:none;
}